<!Doctype html>
<html>
<head>
    <title>Food Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div style="max-width:500px; margin:auto; padding:20px; background:#141414; border-radius:10px; border:1px solid #2e2e2e;">

    <h2>Food Health Analyzer</h2>
    <form method="POST" action="/analyze">
        <label>Enter food name or barcode:</label>
        <br><br>
        <input
            type="text"
            name="food"
            placeholder="e.g. Nutella or 3017620422003"
            required
           style="padding:10px; border-radius:8px; border:1px solid #3a3a3a; background-color:#1a1a1a; color:#e5e5e5; width:80%;"
        >
        <br><br>
        <label>Select Condition</label>
        <br>
       <select name="condition">
    <option value="diabetic" {% if saved_condition == "diabetic" %}selected{% endif %}>Diabetic</option>
    <option value="high cholesterol" {% if saved_condition == "high cholesterol" %}selected{% endif %}>High Cholesterol</option>
    <option value="weight loss" {% if saved_condition == "weight loss" %}selected{% endif %}>Weight Loss</option>
</select>
        <br><br>
        <button type="submit">Analyze</button>
    </form>
    </div>
</body>
</html>